@using Linktree.Models;

<a href="@Link.Url" class="link-button @Link.GradientCss" target="_blank" rel="noopener noreferrer">

    @if (!string.IsNullOrEmpty(Link.BackgroundIconClass))
    {
        <i class="background-icon @Link.BackgroundIconClass"></i>
    }

    <div class="link-content">
        <div class="link-icon link-tag">
            <i class="@Link.IconClass"></i>
        </div>
        <div class="link-text">
            <strong>@Link.Title</strong>
            <span>@Link.Subtitle</span>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Link.Tag))
    {
        <div class="link-tag">@Link.Tag</div>
    }
</a>

<style>
    
</style>

@code {
    [Parameter]
    public LinkModel Link { get; set; } = new LinkModel();
}